<div
  class='min-h-auto relative min-h-[192px] border-b border-b-slate-200 bg-white transition-all sm:min-h-[281px]'
>
  <div
    class='container px-5 py-6 pb-14 text-left transition-opacity duration-300 sm:px-0 sm:py-20 sm:text-center'
    id='hero-text'
  >
    <h1
      class='mb-2 bg-linear-to-b from-slate-900 to-blue-600 bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl sm:leading-tight'
    >
      Дорожные карты подготовки к ЕГЭ
    </h1>

    <p class='hidden px-4 text-lg text-slate-600 sm:block'>
      Упорядоченные темы и этапы по каждому предмету, чтобы готовиться
      системно и видеть прогресс.
    </p>

    <p class='text-md block px-0 text-slate-600 sm:hidden'>
      Темы и этапы по предметам ЕГЭ в удобном формате.
    </p>
  </div>
</div>
