---

import FeaturedItems from '../components/FeaturedItems/FeaturedItems.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { subjects } from '../lib/subjects';

const featuredSubjects = subjects.map((subject) => ({
  text: subject.title,
  url: `/${subject.id}`,
}));
---

<BaseLayout
  title='ЕГЭ Roadmaps'
>
  <div class='bg-transparent'>
    <HeroSection />

    <FeaturedItems
      heading='Предметы ЕГЭ'
      featuredItems={featuredSubjects}
    />
  </div>
</BaseLayout>
