---
// Отдельная страница со всеми предметами
import FeaturedItems from '../components/FeaturedItems/FeaturedItems.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { subjects } from '../lib/subjects';

const featuredSubjects = subjects.map((subject) => ({
  text: subject.title,
  url: `/${subject.id}`,
}));
---

<BaseLayout
  title='Предметы ЕГЭ'
  description={'Все дорожные карты подготовки к ЕГЭ.'}
  permalink={'/roadmaps'}
>
  <div class='bg-transparent'>
    <FeaturedItems
      heading='Предметы ЕГЭ'
      featuredItems={featuredSubjects}
    />
  </div>
</BaseLayout>
